.equalizer {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0.1;
}

.bar {
  width: 22px;
  min-height: 10px;
  margin-right: 1px;
  box-shadow: 0 10px 15px #000;
}

.bar:nth-child(0) {
  background-color: #f90606;
  -webkit-animation: grow0 2030ms alternate infinite;
          animation: grow0 2030ms alternate infinite;
}

@-webkit-keyframes grow0 {
  0% {
    height: 78px;
  }
  10% {
    height: 17px;
  }
  20% {
    height: 86px;
  }
  30% {
    height: 85px;
  }
  40% {
    height: 89px;
  }
  50% {
    height: 49px;
  }
  60% {
    height: 56px;
  }
  70% {
    height: 72px;
  }
  80% {
    height: 10px;
  }
  90% {
    height: 5px;
  }
  100% {
    height: 54px;
  }
}

@keyframes grow0 {
  0% {
    height: 78px;
  }
  10% {
    height: 17px;
  }
  20% {
    height: 86px;
  }
  30% {
    height: 85px;
  }
  40% {
    height: 89px;
  }
  50% {
    height: 49px;
  }
  60% {
    height: 56px;
  }
  70% {
    height: 72px;
  }
  80% {
    height: 10px;
  }
  90% {
    height: 5px;
  }
  100% {
    height: 54px;
  }
}
.bar:nth-child(1) {
  background-color: #f20d0d;
  -webkit-animation: grow1 1700ms alternate infinite;
          animation: grow1 1700ms alternate infinite;
}

@-webkit-keyframes grow1 {
  0% {
    height: 31px;
  }
  10% {
    height: 35px;
  }
  20% {
    height: 39px;
  }
  30% {
    height: 28px;
  }
  40% {
    height: 29px;
  }
  50% {
    height: 92px;
  }
  60% {
    height: 27px;
  }
  70% {
    height: 97px;
  }
  80% {
    height: 89px;
  }
  90% {
    height: 86px;
  }
  100% {
    height: 66px;
  }
}

@keyframes grow1 {
  0% {
    height: 31px;
  }
  10% {
    height: 35px;
  }
  20% {
    height: 39px;
  }
  30% {
    height: 28px;
  }
  40% {
    height: 29px;
  }
  50% {
    height: 92px;
  }
  60% {
    height: 27px;
  }
  70% {
    height: 97px;
  }
  80% {
    height: 89px;
  }
  90% {
    height: 86px;
  }
  100% {
    height: 66px;
  }
}
.bar:nth-child(2) {
  background-color: #ec1313;
  -webkit-animation: grow2 2086ms alternate infinite;
          animation: grow2 2086ms alternate infinite;
}

@-webkit-keyframes grow2 {
  0% {
    height: 59px;
  }
  10% {
    height: 98px;
  }
  20% {
    height: 20px;
  }
  30% {
    height: 3px;
  }
  40% {
    height: 85px;
  }
  50% {
    height: 29px;
  }
  60% {
    height: 58px;
  }
  70% {
    height: 3px;
  }
  80% {
    height: 79px;
  }
  90% {
    height: 28px;
  }
  100% {
    height: 64px;
  }
}

@keyframes grow2 {
  0% {
    height: 59px;
  }
  10% {
    height: 98px;
  }
  20% {
    height: 20px;
  }
  30% {
    height: 3px;
  }
  40% {
    height: 85px;
  }
  50% {
    height: 29px;
  }
  60% {
    height: 58px;
  }
  70% {
    height: 3px;
  }
  80% {
    height: 79px;
  }
  90% {
    height: 28px;
  }
  100% {
    height: 64px;
  }
}
.bar:nth-child(3) {
  background-color: #e61a1a;
  -webkit-animation: grow3 1797ms alternate infinite;
          animation: grow3 1797ms alternate infinite;
}

@-webkit-keyframes grow3 {
  0% {
    height: 75px;
  }
  10% {
    height: 84px;
  }
  20% {
    height: 31px;
  }
  30% {
    height: 69px;
  }
  40% {
    height: 77px;
  }
  50% {
    height: 81px;
  }
  60% {
    height: 35px;
  }
  70% {
    height: 51px;
  }
  80% {
    height: 42px;
  }
  90% {
    height: 77px;
  }
  100% {
    height: 22px;
  }
}

@keyframes grow3 {
  0% {
    height: 75px;
  }
  10% {
    height: 84px;
  }
  20% {
    height: 31px;
  }
  30% {
    height: 69px;
  }
  40% {
    height: 77px;
  }
  50% {
    height: 81px;
  }
  60% {
    height: 35px;
  }
  70% {
    height: 51px;
  }
  80% {
    height: 42px;
  }
  90% {
    height: 77px;
  }
  100% {
    height: 22px;
  }
}
.bar:nth-child(4) {
  background-color: #df2020;
  -webkit-animation: grow4 1673ms alternate infinite;
          animation: grow4 1673ms alternate infinite;
}

@-webkit-keyframes grow4 {
  0% {
    height: 58px;
  }
  10% {
    height: 67px;
  }
  20% {
    height: 56px;
  }
  30% {
    height: 84px;
  }
  40% {
    height: 27px;
  }
  50% {
    height: 83px;
  }
  60% {
    height: 51px;
  }
  70% {
    height: 2px;
  }
  80% {
    height: 63px;
  }
  90% {
    height: 86px;
  }
  100% {
    height: 82px;
  }
}

@keyframes grow4 {
  0% {
    height: 58px;
  }
  10% {
    height: 67px;
  }
  20% {
    height: 56px;
  }
  30% {
    height: 84px;
  }
  40% {
    height: 27px;
  }
  50% {
    height: 83px;
  }
  60% {
    height: 51px;
  }
  70% {
    height: 2px;
  }
  80% {
    height: 63px;
  }
  90% {
    height: 86px;
  }
  100% {
    height: 82px;
  }
}
.bar:nth-child(5) {
  background-color: #d92626;
  -webkit-animation: grow5 2077ms alternate infinite;
          animation: grow5 2077ms alternate infinite;
}

@-webkit-keyframes grow5 {
  0% {
    height: 32px;
  }
  10% {
    height: 36px;
  }
  20% {
    height: 75px;
  }
  30% {
    height: 94px;
  }
  40% {
    height: 34px;
  }
  50% {
    height: 77px;
  }
  60% {
    height: 53px;
  }
  70% {
    height: 95px;
  }
  80% {
    height: 10px;
  }
  90% {
    height: 70px;
  }
  100% {
    height: 37px;
  }
}

@keyframes grow5 {
  0% {
    height: 32px;
  }
  10% {
    height: 36px;
  }
  20% {
    height: 75px;
  }
  30% {
    height: 94px;
  }
  40% {
    height: 34px;
  }
  50% {
    height: 77px;
  }
  60% {
    height: 53px;
  }
  70% {
    height: 95px;
  }
  80% {
    height: 10px;
  }
  90% {
    height: 70px;
  }
  100% {
    height: 37px;
  }
}
.bar:nth-child(6) {
  background-color: #d22d2d;
  -webkit-animation: grow6 2086ms alternate infinite;
          animation: grow6 2086ms alternate infinite;
}

@-webkit-keyframes grow6 {
  0% {
    height: 96px;
  }
  10% {
    height: 29px;
  }
  20% {
    height: 93px;
  }
  30% {
    height: 7px;
  }
  40% {
    height: 91px;
  }
  50% {
    height: 67px;
  }
  60% {
    height: 64px;
  }
  70% {
    height: 60px;
  }
  80% {
    height: 98px;
  }
  90% {
    height: 36px;
  }
  100% {
    height: 92px;
  }
}

@keyframes grow6 {
  0% {
    height: 96px;
  }
  10% {
    height: 29px;
  }
  20% {
    height: 93px;
  }
  30% {
    height: 7px;
  }
  40% {
    height: 91px;
  }
  50% {
    height: 67px;
  }
  60% {
    height: 64px;
  }
  70% {
    height: 60px;
  }
  80% {
    height: 98px;
  }
  90% {
    height: 36px;
  }
  100% {
    height: 92px;
  }
}
.bar:nth-child(7) {
  background-color: #cc3333;
  -webkit-animation: grow7 1533ms alternate infinite;
          animation: grow7 1533ms alternate infinite;
}

@-webkit-keyframes grow7 {
  0% {
    height: 3px;
  }
  10% {
    height: 52px;
  }
  20% {
    height: 61px;
  }
  30% {
    height: 22px;
  }
  40% {
    height: 4px;
  }
  50% {
    height: 87px;
  }
  60% {
    height: 16px;
  }
  70% {
    height: 92px;
  }
  80% {
    height: 81px;
  }
  90% {
    height: 28px;
  }
  100% {
    height: 27px;
  }
}

@keyframes grow7 {
  0% {
    height: 3px;
  }
  10% {
    height: 52px;
  }
  20% {
    height: 61px;
  }
  30% {
    height: 22px;
  }
  40% {
    height: 4px;
  }
  50% {
    height: 87px;
  }
  60% {
    height: 16px;
  }
  70% {
    height: 92px;
  }
  80% {
    height: 81px;
  }
  90% {
    height: 28px;
  }
  100% {
    height: 27px;
  }
}
.bar:nth-child(8) {
  background-color: #c63939;
  -webkit-animation: grow8 1935ms alternate infinite;
          animation: grow8 1935ms alternate infinite;
}

@-webkit-keyframes grow8 {
  0% {
    height: 55px;
  }
  10% {
    height: 30px;
  }
  20% {
    height: 63px;
  }
  30% {
    height: 100px;
  }
  40% {
    height: 49px;
  }
  50% {
    height: 34px;
  }
  60% {
    height: 43px;
  }
  70% {
    height: 60px;
  }
  80% {
    height: 15px;
  }
  90% {
    height: 39px;
  }
  100% {
    height: 50px;
  }
}

@keyframes grow8 {
  0% {
    height: 55px;
  }
  10% {
    height: 30px;
  }
  20% {
    height: 63px;
  }
  30% {
    height: 100px;
  }
  40% {
    height: 49px;
  }
  50% {
    height: 34px;
  }
  60% {
    height: 43px;
  }
  70% {
    height: 60px;
  }
  80% {
    height: 15px;
  }
  90% {
    height: 39px;
  }
  100% {
    height: 50px;
  }
}
.bar:nth-child(9) {
  background-color: #bf4040;
  -webkit-animation: grow9 2128ms alternate infinite;
          animation: grow9 2128ms alternate infinite;
}

@-webkit-keyframes grow9 {
  0% {
    height: 100px;
  }
  10% {
    height: 6px;
  }
  20% {
    height: 18px;
  }
  30% {
    height: 41px;
  }
  40% {
    height: 80px;
  }
  50% {
    height: 16px;
  }
  60% {
    height: 78px;
  }
  70% {
    height: 11px;
  }
  80% {
    height: 93px;
  }
  90% {
    height: 8px;
  }
  100% {
    height: 1px;
  }
}

@keyframes grow9 {
  0% {
    height: 100px;
  }
  10% {
    height: 6px;
  }
  20% {
    height: 18px;
  }
  30% {
    height: 41px;
  }
  40% {
    height: 80px;
  }
  50% {
    height: 16px;
  }
  60% {
    height: 78px;
  }
  70% {
    height: 11px;
  }
  80% {
    height: 93px;
  }
  90% {
    height: 8px;
  }
  100% {
    height: 1px;
  }
}
.bar:nth-child(10) {
  background-color: #b94646;
  -webkit-animation: grow10 1631ms alternate infinite;
          animation: grow10 1631ms alternate infinite;
}

@-webkit-keyframes grow10 {
  0% {
    height: 67px;
  }
  10% {
    height: 83px;
  }
  20% {
    height: 40px;
  }
  30% {
    height: 12px;
  }
  40% {
    height: 59px;
  }
  50% {
    height: 91px;
  }
  60% {
    height: 80px;
  }
  70% {
    height: 82px;
  }
  80% {
    height: 30px;
  }
  90% {
    height: 59px;
  }
  100% {
    height: 89px;
  }
}

@keyframes grow10 {
  0% {
    height: 67px;
  }
  10% {
    height: 83px;
  }
  20% {
    height: 40px;
  }
  30% {
    height: 12px;
  }
  40% {
    height: 59px;
  }
  50% {
    height: 91px;
  }
  60% {
    height: 80px;
  }
  70% {
    height: 82px;
  }
  80% {
    height: 30px;
  }
  90% {
    height: 59px;
  }
  100% {
    height: 89px;
  }
}
.bar:nth-child(11) {
  background-color: #b34d4d;
  -webkit-animation: grow11 1576ms alternate infinite;
          animation: grow11 1576ms alternate infinite;
}

@-webkit-keyframes grow11 {
  0% {
    height: 79px;
  }
  10% {
    height: 91px;
  }
  20% {
    height: 20px;
  }
  30% {
    height: 54px;
  }
  40% {
    height: 30px;
  }
  50% {
    height: 77px;
  }
  60% {
    height: 81px;
  }
  70% {
    height: 90px;
  }
  80% {
    height: 33px;
  }
  90% {
    height: 60px;
  }
  100% {
    height: 67px;
  }
}

@keyframes grow11 {
  0% {
    height: 79px;
  }
  10% {
    height: 91px;
  }
  20% {
    height: 20px;
  }
  30% {
    height: 54px;
  }
  40% {
    height: 30px;
  }
  50% {
    height: 77px;
  }
  60% {
    height: 81px;
  }
  70% {
    height: 90px;
  }
  80% {
    height: 33px;
  }
  90% {
    height: 60px;
  }
  100% {
    height: 67px;
  }
}
.bar:nth-child(12) {
  background-color: #ac5353;
  -webkit-animation: grow12 1738ms alternate infinite;
          animation: grow12 1738ms alternate infinite;
}

@-webkit-keyframes grow12 {
  0% {
    height: 32px;
  }
  10% {
    height: 42px;
  }
  20% {
    height: 75px;
  }
  30% {
    height: 31px;
  }
  40% {
    height: 60px;
  }
  50% {
    height: 30px;
  }
  60% {
    height: 25px;
  }
  70% {
    height: 56px;
  }
  80% {
    height: 69px;
  }
  90% {
    height: 13px;
  }
  100% {
    height: 24px;
  }
}

@keyframes grow12 {
  0% {
    height: 32px;
  }
  10% {
    height: 42px;
  }
  20% {
    height: 75px;
  }
  30% {
    height: 31px;
  }
  40% {
    height: 60px;
  }
  50% {
    height: 30px;
  }
  60% {
    height: 25px;
  }
  70% {
    height: 56px;
  }
  80% {
    height: 69px;
  }
  90% {
    height: 13px;
  }
  100% {
    height: 24px;
  }
}
.bar:nth-child(13) {
  background-color: #a65959;
  -webkit-animation: grow13 1998ms alternate infinite;
          animation: grow13 1998ms alternate infinite;
}

@-webkit-keyframes grow13 {
  0% {
    height: 35px;
  }
  10% {
    height: 93px;
  }
  20% {
    height: 42px;
  }
  30% {
    height: 45px;
  }
  40% {
    height: 38px;
  }
  50% {
    height: 53px;
  }
  60% {
    height: 80px;
  }
  70% {
    height: 98px;
  }
  80% {
    height: 75px;
  }
  90% {
    height: 80px;
  }
  100% {
    height: 53px;
  }
}

@keyframes grow13 {
  0% {
    height: 35px;
  }
  10% {
    height: 93px;
  }
  20% {
    height: 42px;
  }
  30% {
    height: 45px;
  }
  40% {
    height: 38px;
  }
  50% {
    height: 53px;
  }
  60% {
    height: 80px;
  }
  70% {
    height: 98px;
  }
  80% {
    height: 75px;
  }
  90% {
    height: 80px;
  }
  100% {
    height: 53px;
  }
}
.bar:nth-child(14) {
  background-color: #9f6060;
  -webkit-animation: grow14 1563ms alternate infinite;
          animation: grow14 1563ms alternate infinite;
}

@-webkit-keyframes grow14 {
  0% {
    height: 58px;
  }
  10% {
    height: 60px;
  }
  20% {
    height: 43px;
  }
  30% {
    height: 58px;
  }
  40% {
    height: 28px;
  }
  50% {
    height: 10px;
  }
  60% {
    height: 58px;
  }
  70% {
    height: 39px;
  }
  80% {
    height: 13px;
  }
  90% {
    height: 63px;
  }
  100% {
    height: 36px;
  }
}

@keyframes grow14 {
  0% {
    height: 58px;
  }
  10% {
    height: 60px;
  }
  20% {
    height: 43px;
  }
  30% {
    height: 58px;
  }
  40% {
    height: 28px;
  }
  50% {
    height: 10px;
  }
  60% {
    height: 58px;
  }
  70% {
    height: 39px;
  }
  80% {
    height: 13px;
  }
  90% {
    height: 63px;
  }
  100% {
    height: 36px;
  }
}
.bar:nth-child(15) {
  background-color: #996666;
  -webkit-animation: grow15 1883ms alternate infinite;
          animation: grow15 1883ms alternate infinite;
}

@-webkit-keyframes grow15 {
  0% {
    height: 72px;
  }
  10% {
    height: 48px;
  }
  20% {
    height: 72px;
  }
  30% {
    height: 71px;
  }
  40% {
    height: 4px;
  }
  50% {
    height: 39px;
  }
  60% {
    height: 51px;
  }
  70% {
    height: 90px;
  }
  80% {
    height: 67px;
  }
  90% {
    height: 82px;
  }
  100% {
    height: 46px;
  }
}

@keyframes grow15 {
  0% {
    height: 72px;
  }
  10% {
    height: 48px;
  }
  20% {
    height: 72px;
  }
  30% {
    height: 71px;
  }
  40% {
    height: 4px;
  }
  50% {
    height: 39px;
  }
  60% {
    height: 51px;
  }
  70% {
    height: 90px;
  }
  80% {
    height: 67px;
  }
  90% {
    height: 82px;
  }
  100% {
    height: 46px;
  }
}
.bar:nth-child(16) {
  background-color: #936c6c;
  -webkit-animation: grow16 2043ms alternate infinite;
          animation: grow16 2043ms alternate infinite;
}

@-webkit-keyframes grow16 {
  0% {
    height: 21px;
  }
  10% {
    height: 1px;
  }
  20% {
    height: 57px;
  }
  30% {
    height: 33px;
  }
  40% {
    height: 72px;
  }
  50% {
    height: 50px;
  }
  60% {
    height: 20px;
  }
  70% {
    height: 64px;
  }
  80% {
    height: 88px;
  }
  90% {
    height: 50px;
  }
  100% {
    height: 32px;
  }
}

@keyframes grow16 {
  0% {
    height: 21px;
  }
  10% {
    height: 1px;
  }
  20% {
    height: 57px;
  }
  30% {
    height: 33px;
  }
  40% {
    height: 72px;
  }
  50% {
    height: 50px;
  }
  60% {
    height: 20px;
  }
  70% {
    height: 64px;
  }
  80% {
    height: 88px;
  }
  90% {
    height: 50px;
  }
  100% {
    height: 32px;
  }
}
.bar:nth-child(17) {
  background-color: #8c7373;
  -webkit-animation: grow17 1662ms alternate infinite;
          animation: grow17 1662ms alternate infinite;
}

@-webkit-keyframes grow17 {
  0% {
    height: 78px;
  }
  10% {
    height: 34px;
  }
  20% {
    height: 92px;
  }
  30% {
    height: 1px;
  }
  40% {
    height: 68px;
  }
  50% {
    height: 16px;
  }
  60% {
    height: 26px;
  }
  70% {
    height: 15px;
  }
  80% {
    height: 6px;
  }
  90% {
    height: 5px;
  }
  100% {
    height: 28px;
  }
}

@keyframes grow17 {
  0% {
    height: 78px;
  }
  10% {
    height: 34px;
  }
  20% {
    height: 92px;
  }
  30% {
    height: 1px;
  }
  40% {
    height: 68px;
  }
  50% {
    height: 16px;
  }
  60% {
    height: 26px;
  }
  70% {
    height: 15px;
  }
  80% {
    height: 6px;
  }
  90% {
    height: 5px;
  }
  100% {
    height: 28px;
  }
}
.bar:nth-child(18) {
  background-color: #867979;
  -webkit-animation: grow18 1740ms alternate infinite;
          animation: grow18 1740ms alternate infinite;
}

@-webkit-keyframes grow18 {
  0% {
    height: 71px;
  }
  10% {
    height: 5px;
  }
  20% {
    height: 93px;
  }
  30% {
    height: 95px;
  }
  40% {
    height: 31px;
  }
  50% {
    height: 68px;
  }
  60% {
    height: 92px;
  }
  70% {
    height: 32px;
  }
  80% {
    height: 29px;
  }
  90% {
    height: 65px;
  }
  100% {
    height: 11px;
  }
}

@keyframes grow18 {
  0% {
    height: 71px;
  }
  10% {
    height: 5px;
  }
  20% {
    height: 93px;
  }
  30% {
    height: 95px;
  }
  40% {
    height: 31px;
  }
  50% {
    height: 68px;
  }
  60% {
    height: 92px;
  }
  70% {
    height: 32px;
  }
  80% {
    height: 29px;
  }
  90% {
    height: 65px;
  }
  100% {
    height: 11px;
  }
}
.bar:nth-child(19) {
  background-color: gray;
  -webkit-animation: grow19 1779ms alternate infinite;
          animation: grow19 1779ms alternate infinite;
}

@-webkit-keyframes grow19 {
  0% {
    height: 63px;
  }
  10% {
    height: 67px;
  }
  20% {
    height: 74px;
  }
  30% {
    height: 49px;
  }
  40% {
    height: 100px;
  }
  50% {
    height: 100px;
  }
  60% {
    height: 15px;
  }
  70% {
    height: 98px;
  }
  80% {
    height: 21px;
  }
  90% {
    height: 81px;
  }
  100% {
    height: 96px;
  }
}

@keyframes grow19 {
  0% {
    height: 63px;
  }
  10% {
    height: 67px;
  }
  20% {
    height: 74px;
  }
  30% {
    height: 49px;
  }
  40% {
    height: 100px;
  }
  50% {
    height: 100px;
  }
  60% {
    height: 15px;
  }
  70% {
    height: 98px;
  }
  80% {
    height: 21px;
  }
  90% {
    height: 81px;
  }
  100% {
    height: 96px;
  }
}
.bar:nth-child(20) {
  background-color: gray;
  -webkit-animation: grow20 1551ms alternate infinite;
          animation: grow20 1551ms alternate infinite;
}

@-webkit-keyframes grow20 {
  0% {
    height: 81px;
  }
  10% {
    height: 12px;
  }
  20% {
    height: 38px;
  }
  30% {
    height: 30px;
  }
  40% {
    height: 34px;
  }
  50% {
    height: 86px;
  }
  60% {
    height: 10px;
  }
  70% {
    height: 20px;
  }
  80% {
    height: 97px;
  }
  90% {
    height: 98px;
  }
  100% {
    height: 13px;
  }
}

@keyframes grow20 {
  0% {
    height: 81px;
  }
  10% {
    height: 12px;
  }
  20% {
    height: 38px;
  }
  30% {
    height: 30px;
  }
  40% {
    height: 34px;
  }
  50% {
    height: 86px;
  }
  60% {
    height: 10px;
  }
  70% {
    height: 20px;
  }
  80% {
    height: 97px;
  }
  90% {
    height: 98px;
  }
  100% {
    height: 13px;
  }
}